.container {
  max-width: 1200px;
  margin: 0 auto;
}

.video-player {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 20px;
  padding-bottom: 50px;
  justify-content: center;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  width: 100%;
  max-width: 100%;
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0 20px;
  max-width: 58vw;
}

.video-title {
  font-size: 1.25rem;
  margin: 0;
}

.views-and-likes {
  font-size: 1.5rem;
  margin-top: 1.5rem; 
}


.video-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
}

.video-actions {
  display: flex;
  gap: 1rem;
}

.channel-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.channel-avatar {
  font-size: 40px;
}

.channel-name {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.channel-name p {
  margin: 0;
}

.subscribe-button {
  background-color: #CC0000;
  color: white;
  border: none;
  border-radius: 2px;
  padding: 5px 10px;
  font-size: 0.9rem;
  cursor: pointer;
}

.subscribe-button:hover {
  background-color: #A80000;
}

.description {
  margin-top: 1rem;
  position: relative;
  overflow: hidden;
  border: 1px solid rgba(128, 128, 128, 0.5);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 1rem;
  border-radius: 5px;
}

.description.collapsed {
  height: 4em;
}

.description.expanded {
  height: auto;
}

.description p {
  margin-bottom: 1.5em;
}

.description-toggle {
  background-color: transparent;
  padding: 0.25rem;
  border: none;
  cursor: pointer;
  color: #167AC6;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.description-toggle:hover {
  text-decoration: underline;
}

/* Add styles for edit and delete buttons */
.video-edit-delete {
  display: flex;
  gap: 0.5rem;
}

.video-edit-delete button {
  background-color: #167AC6;
  color: white;
  border: none;
  border-radius: 2px;
  padding: 5px 10px;
  font-size: 0.9rem;
  cursor: pointer;
}

.video-edit-delete button:hover {
  background-color: #115A93;
}



/* Media queries for responsiveness */
@media (min-width: 1200px) {
  .container {
    width: 60vw;
    margin: 0 auto;
  }
  
  
  .video-player {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }
  
  .video-container {
    position: relative;
    width: 60vw;
    height: 0;
    padding-bottom: calc(60vw * 9 / 16); /* Maintain 16:9 aspect ratio */
    margin-top: 80px; /* Space between the navbar and the video player */
  }
  
}

@media (min-width: 768px) and (max-width: 1199px) {
  .video-player {
    padding-top: 60px;
  }

  .video-details {
    padding: 0 5px;
    max-width: 94vw;
  }
  .video-container {
    max-width: 900px;
  }
}

@media (max-width: 767px) {
  .video-player {
    padding-top: 50px;
  }

  .video-details {
    padding: 0 5px;
    max-width: 98vw
  }
  .video-container {
    max-width: 900px;
  }
}
