.video-player {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 20px;
  padding-top: 35px;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 100%;
}

.video-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.views-and-likes {
  display: flex;
  align-items: center;
}

.views-and-likes p {
  margin: 0;
}

.channel-info {
  display: flex;
  align-items: center;
}

.channel-avatar img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 0.5rem;
}

.channel-name {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.description {
  margin-top: 1rem;
}
