.comment-form {
  display: flex;
  margin-top: 24px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: 'Google Sans', 'Noto Sans Myanmar UI', arial, sans-serif;

}

.avatar {
  flex-shrink: 0;
  margin-right: 16px;
}

.avatar img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.comment-content {
  flex: 1;
}

textarea {
  width: 100%;
  height: 80px;
  resize: none;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 8px;
}

.comment-buttons {
  display: flex;
  justify-content: flex-end;
}

.comment-buttons button {
  margin-left: 16px;
  padding: 8px 16px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

.comment-buttons button[type="button"] {
  background-color: #ccc;
}

.comment-buttons button[type="submit"] {
  background-color: #065fd4;
}

.comment-content {
  padding-bottom: 30px;
}

.comment-buttons {
  display: flex;
  align-items: center;
  margin-left: 8px;
}

.comment-buttons button {
  margin-left: 8px;
  padding: 8px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: white;
}

.comment-buttons .comment-cancel:hover {
  background-color: #999;
}

.comment-buttons .comment-comment:hover {
  background-color: #044cb1;
}

@media (min-width: 1200px) {
  .comment-form {
    max-width: 58vw;
  }
}