@import "../Navigation/themes.css";

.body {
  font-family: 'Google Sans', 'Roboto', sans-serif;
}

#page {
  width: 95%;
  padding: 24px;
  padding-left: 80px;
  font-family: 'Google Sans', 'Roboto', sans-serif;
}

#mainSectionContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  grid-gap: 20px;
  margin-top: 60px;
  font-family: 'Google Sans', 'Roboto', sans-serif;
}

.videoPlaceholder {
  position: relative;
  width: 100%;
}


.videoPlaceholder img {
  position: relative;
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.videoLink {
  flex: 0 0 24%;
  max-width: 24%;
  text-decoration: none;
  box-sizing: border-box;
  padding: 0 8px;
  margin-bottom: 16px;
}


.videoInfo {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 12px;
  background-color: transparent;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  font-family: 'Google Sans', 'Roboto', sans-serif;
}

.videoTitle {
  margin: 0 0 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  color: #0f0f0f;
  font-family: 'Google Sans', 'Roboto', sans-serif;
}

.videoChannel {
  margin: 0 0 4px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  color: #606060;
  font-family: 'Google Sans', 'Roboto', sans-serif;
}

.videoViews {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  color: #606060;
  font-family: 'Google Sans', 'Roboto', sans-serif;
}

@media (min-width: 1200px) {
  .videoLink {
    flex: 0 0 24%;
    max-width: 24%;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .videoLink {
    flex: 0 0 48%;
    max-width: 48%;
  }
}

@media (max-width: 767px) {
  .videoLink {
    flex: 0 0 100%;
    max-width: 100%;
  }
}


/* Light theme */
.light-theme .body {
  background-color: #ffffff;
  color: #333333;
}

.light-theme .videoTitle {
  color: #333333;
}

.light-theme .videoChannel {
  color: #777777;
}

.light-theme .videoViews {
  color: #aaaaaa;
}

/* Dark theme */
.dark-theme .body {
  background-color: #333333;
  color: #ffffff;
}

.dark-theme .videoTitle {
  color: #ffffff;
}

.dark-theme .videoChannel {
  color: #bbbbbb;
}

.dark-theme .videoViews {
  color: #888888;
}
