.like-buttons {
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 5px;
}

.like-count,
.dislike-count {
  margin-right: 10px;
  font-size: 30px;
}

.like-button,
.dislike-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.like-button {
  color: #606060;
  background-color: #f9f9f9;
}

.like-button:hover {
  background-color: #e6e6e6;
}

.like-button.active {
  color: #0a9d58;
  background-color: #d7f2e4;
}

.dislike-button {
  color: #606060;
  background-color: #f9f9f9;
}

.dislike-button:hover {
  background-color: #e6e6e6;
}

.dislike-button.active {
  color: #db4437;
  background-color: #fad5d5;
}

.like-button i,
.dislike-button i {
  margin-right: 0;
}

.like-button .button-text,
.dislike-button .button-text {
  display: none;
}

.sign-in-dropdown {
  position: absolute;
  top: 72%;
  left: 85%;
  transform: translateX(-50%);
  width: 200px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 100;
  font-family: 'Google Sans', 'Roboto', sans-serif;
}

.sign-in-dropdown p {
  margin: 0 0 10px;
  font-family: 'Google Sans', 'Roboto', sans-serif;
}

.sign-in-dropdown button {
  background-color: #065fd4;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Google Sans', 'Roboto', sans-serif;
}

.sign-in-dropdown button:hover {
  background-color: #044cb1;
  font-family: 'Google Sans', 'Roboto', sans-serif;
}
