.video-form {
  margin-top: 60px;
  width: 100%;
  font-family: 'Google Sans', 'Roboto', sans-serif;
}

input[type="file"] {
  display: none;
}

.video-form-group {
  margin-bottom: 20px;
  font-family: 'Google Sans', 'Roboto', sans-serif;
}

.selectFile {
  font-weight: bold;
  margin-bottom: 5px;
  font-family: 'Google Sans', 'Roboto', sans-serif;
}

.selectFileContainer {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: 'Google Sans', 'Roboto', sans-serif;
}

.title-form-control,
.form-control,
.description-form-control {
  border-radius: 2px;
  border: 1px solid #ccc;
  font-size: 16px;
  padding: 8px;
  width: 60%;
  font-family: 'Google Sans', 'Roboto', sans-serif;
}

.custom-file-upload:hover {
  background-color: #1a73e8;
}

.selectFile,
.uploadVideo,
.custom-file-upload {
  background-color: #065fd4;
  border: none;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  font-family: 'Google Sans', 'Roboto', sans-serif;
}

.selectFile,
.uploadVideo:hover {
  background-color: #1a73e8;
}

.selectFile,
.uploadVideo:active {
  transform: translateY(1px);
}

.modalVideoContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

.modalVideoOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalVideoContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 70%;
  max-width: 960px; /* Update this value */
  height: 90%;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.modalVideoHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #ddd;
  font-family: 'Google Sans', 'Roboto', sans-serif;
}

.modalVideoHeader h2 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.closeVideoModalButton {
  border: none;
  background: none;
  font-size: 2rem;
  cursor: pointer;
}

.modalVideoBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
  margin: auto;
  padding-top: 200px;
}

.modalVideoUploadArea {
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-bottom: 20px;
}

.modalVideoText1 {
  padding-bottom: 10px;
  color: #0d0d0d;
  font-weight: bold;
}

.modalVideoText2 {
  padding-bottom: 10px;
  color: #606060;
}

.modalVideoUploadIconContainer {
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  padding-bottom: 10px;
}

.uploadLabelContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
}

.titleContainer,
.descriptionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 10px;
  width: 1000px;
}

.modalVideoFormContainer,
.modalVideoUploadFormContainer {
  font-family: 'Google Sans', 'Roboto', sans-serif;
}

.modalVideoUploadFormContainer {
  font-family: 'Google Sans', 'Roboto', sans-serif;
  padding-top: 20px;
}

.video-section {
  border-top: 1px solid #ccc;
  padding-top: 20px;
  margin-top: 0px;
}

.video-form-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0px;
}

.video-thumbnail {
  width: 160px;
  height: 90px;
  object-fit: cover;
  margin-right: 20px;
}

.delete-video-button {
  border: none;
  background: none;
  color: #065fd4;
  cursor: pointer;
  font-size: 14px;
  margin-left: auto;
}

.video-form-group {
  position: relative;
}

.selectFile {
  position: absolute;
  top: 0;
  right: 0;
}

.center-container {
  margin-left: 20px;
  font-family: 'Google Sans', 'Roboto', sans-serif;
}

.video-form-my-videos {
  margin-bottom: 15px;
}