.user-avatar {
  border-radius: 50%;
  width: 125px;
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 64px;
  font-weight: bold;
  color: white;
}

.user-info {
  margin-top: 10px;
  margin-bottom: 10px;
}
