.body {
  height: 100%;
  padding: 0;
  margin: 0;
}

/* Navbar */
#mastHeadContainer {
  width: 100%;
  height: 56px;
  position: fixed;
  top: 0;
  left: 0;
  padding: 8px 16px;
  box-sizing: border-box;
  border-bottom: 1px solid #e8e8e8;
  background-color: #fff;
  z-index: 1;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

#mastHeadContainer button:not(.searchButton),
#mastHeadContainer .rightIcons img {
    cursor: pointer;
    width: 40px;
    height: 40px;
    padding: 8px;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
}

#mastHeadContainer button:not(.searchButton) {
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding: 8px;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
}

#mastHeadContainer button img {
  width: 100%;
}

#mastHeadContainer .logoContainer {
  width: 150px;
}

#mastHeadContainer .logoContainer img {
  height: 25px;
  margin-left: 8px;
}

#mastHeadContainer .logoContainer {
  width: 150px;
}

#mastHeadContainer .logoContainer img {
  height: 60px;
  margin-left: 8px;
}

#sideNavContainer {
  width: 240px;
  background-color: #f5f5f5;
  padding-top: 56px;
  position: fixed;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

#mainSectionContainer {
  padding-top: 56px;
  display: flex;
  padding: 16px 30px;
  flex-grow: 1;
}

#mainSectionContainer.leftPadding {
  padding-left: 240px;
}

.logoContainer {
  margin-right: 16px;
  
}

.rightIcons {
  display: flex;
}

.uploadVideoButton {
  width: 24px;
  height: 24px;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 10px;
  text-decoration: none;
}

.uploadLink {
  text-decoration: none;
}

.navButton {
  margin-top: -1px;
}

.fa-bars {
  font-size: 24px;
}

.material-symbols-outlined {
  padding-right: 7px;
  vertical-align: middle;
  text-decoration: none;
}

.signInButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  border-radius: 24px;
  border: 1px solid grey;
  background-color: white;
  color: #065fd4;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.signInButton:hover {
  text-decoration: none;
  background-color: #c2d8f7;
}
