.searchResultsContainer {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 3rem;
  font-family: 'Google Sans', 'Roboto', sans-serif;
}

.searchResultsContainer h1 {
  font-size: 24px;
  margin-bottom: 20px;
  font-family: 'Google Sans', 'Roboto', sans-serif;
}

.searchResultsContainer ul {
  list-style-type: none;
  padding: 0;
}

.searchResultsContainer li {
  margin-bottom: 10px;
}

.searchResultsContainer a {
  text-decoration: none;
  color: #0079d3;
  font-size: 18px;
}
