.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 0px;
}

.modalContent {
  background-color: #fff;
  width: 210px;
  height: 100%;
  padding: 16px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
}


.modalHeader {
  display: flex;
  justify-content: flex-start;
  margin-top: -10px;
}

.modalButton {
  margin-top: 1px;
  margin-left: 0px;
}

.modalLogoContainer img {
  margin-left: 8px;
}

.logoTextSideBar {
  margin-left: 2px;
  margin-top: 13px;
}

.modalBody {
  margin-top: 5px;
}

.sidebarMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebarMenuItem {
  display: flex;
  align-items: center;
  padding: 6px 8px 6px;
  font-family: "Roboto","Arial",sans-serif;
  font-size: 1.0rem;
  line-height: 2rem;
  font-weight: 300;
  border-radius: 10px;
}

.sidebarMenuIcon {
  margin-right: 0px;
}

.sidebarLine {
  border-bottom: 1px solid grey;
}

.sidebarMenuItem:hover {
  background-color: rgb(244, 244, 244);
}

.sidebarText {
  margin-bottom: -5px;
  font-size: 1.0rem;
  font-weight: 300;
  white-space: nowrap;
}

.sidebarHeader {
  display: block;
  padding: 6px 12px 4px;
  font-family: "Roboto", "Arial", sans-serif;
  line-height: 2.2rem;
  font-size: 1.2rem;
  font-weight: 400;
}